<div class="container">
  <h1>Créer une nouvelle annonce</h1>
    <%= simple_form_for(@ad) do |f| %>
      <%= f.input :title, 
                  label: "Titre de l'annonce", 
                  placeholder: "Arc classic....." %>
      <%= f.input :equipment, 
                  collection: ["Arcs","Flèches","Accessoires de l'Arc"],
                  label: "Matériel", 
                  placeholder: "Arc, flèches, ....." %>
      <%= f.input :price, 
                  label: "Prix", 
                  placeholder: "0,00€" %>
      <%= f.input :state,
                  collection: ["Très bon état","Bon état","Moyen","Abimé"], 
                  label: "Etat", 
                  placeholder: "Bon état" %>
      <%= f.input :description, 
                  label: "Description" %>
      <%= f.input :location, 
                  label: "Lieux", 
                  placeholder: "1 rue de la republique, Paris 75000" %>
      <%= f.input :photo, as: :file %>
      <%= f.submit %>
    <% end %>
</div>